@{
    ViewData["Title"] = "Home ";
}

<div class="bg-img"style="background-repeat:no-repeat; background-size:cover" >
    <div class="text-box">
        <h1 class="leftToright">Where Quality Meets Convenience.</h1>
        <h2 class="rightToleft">Explore, Click, Shop. Repeat</h2>
        <a href="#" class="upTodown"><button class="shop">Shop Now!</button></a>
    </div>
</div>
<div class="txt">
    <img style="width:100%;" src="@Url.Content("~/css/Images/yikesx.jpg")">
    <h4><i>Unbox Joy, Unleash Style.</i></h4>
    <p>Without the physical hassle, Order at your Convenience</p>
</div>
<div class="categories">
    <div class="categoryitem" id="Cat1">
        <div class="categoryname">
            <div>
                Fashion
            </div>
        </div>
    </div>
    <div class="categoryitem" id="Cat2">
        <div class="categoryname">
            <div>
                LifeStyle and Fitness
            </div>
        </div>
    </div>
    <div class="categoryitem" id="Cat3">
        <div class="categoryname">
            <div>
                Food and Groceries
            </div>
        </div>
    </div>
    <div class="categoryitem" id="Cat4">
        <div class="categoryname">
            <div>
                Tech and Accessories
            </div>
        </div>
    </div>
    <div class="categoryitem" id="Cat5">
        <div class="categoryname">
            <div>
                Home and Furniture
            </div>
        </div>
    </div>
</div>
