

<div class="logindiv">
    <div class="logincontents">
        <h4>Create a new Account</h4>
        <a href="#">Existing user? LogIn</a>
        <label id="emaillabel" for="email">Email:</label>
        <input placeholder="Enter your email" type="email" id="email">
        <label id="usernamelabel" for="username">Username:</label>
        <input placeholder="Username" type="text" id="username">
        <label id="passwordlabel" for="password">Password:</label>
        <input placeholder="Enter your password" type="password" id="password">
        <label id="confirmpasswordlabel" for="confirmpassword">Confirm Password:</label>
        <input placeholder="Confirm password" type="password" id="confirmpassword">

        <button class="submit">Register</button>

    </div>

</div>