<div class="container my-4 py-3 text-center">
   
</div>
<div class="addbutton">
    <h3>You need to login to Add Items to Your Cart</h3>
    <a class="buttonnn" asp-controller="Product" asp-action="Index">Continue Browsing</a>
    <a class="buttonn" id="login" asp-area="Identity" asp-page="/Account/Login">Log In</a>
    
</div>